<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inch.rest.mapper.NoticeMapper" > 

 <resultMap id="noticeinfo" type="NoticeModel">
      <result property="guid" column="guid"/>
        <result property="notice" column="notice"/>
        <result property="begintime" column="begintime"/>
        <result property="endtime" column="endtime"/>
        <result property="addtime" column="addtime"/>
        <result property="addusername" column="addusername"/>
        <result property="classid" column="classid"/>
        <result property="pic" column="pic"/>
        <collection property="classList" column="{nclassid=classid}" javaType="ArrayList" select="getClassList" ></collection>
</resultMap>

<select id="getClassList" resultType="SchoolModel" >
		select CONCAT(IFNULL(s2.name,''),s1.name) name from school s1 left JOIN school s2 on s1.pid=s2.id
		where find_in_set(s1.id,#{nclassid}) 
</select>

<select id="queryByList" resultMap="noticeinfo"  parameterType="Object">
	select g.*,u.name addusername  from notice g left join sys_user u on g.adduser=u.id
	where 1=1
	<if test="isadmin!=1">
		and EXISTS (select guid from lcd_rel where guid=g.guid and  find_in_set(classid,#{classid}))
	</if>
	<if test="iscurrent==1"><!-- 排除过期的 -->
		and (endtime >=date_format(now(),'%Y-%m-%d %H:%i:%s') or endtime is null or endtime ='')
	</if>
	
	order by g.addtime desc
</select>

<delete id="deleteBactch" >  
    delete from notice where guid in 
     <foreach collection="array" index="index" item="item" open="(" separator="," close=")">    
            #{item}
    </foreach>
</delete>
 
<select id="queryById"  resultType="NoticeModel" parameterType="Object">
	select * from notice where guid = #{guid}
</select>

 <update id="update" parameterType="Object" >
  	update notice set notice=#{notice},begintime=#{begintime},endtime=#{endtime},adduser=#{adduser}
  	,pic=#{pic},picsmall=#{picsmall},isscreen=#{isscreen},isparent=#{isparent},edittime=now(),classid=#{classid},
  	video=#{video},videoimg=#{videoimg},videosmallimg=#{videosmallimg},voice=#{voice},volicelen=#{volicelen}
  	where guid=#{guid}
 </update>

 <insert id="add" parameterType="Object" >
 	 insert into notice (guid,notice,begintime,endtime,addtime,classid,adduser,pic,picsmall,isscreen,isparent,video,videoimg, 
 	 voice,volicelen,videosmallimg) 
 	 values (#{guid},#{notice},#{begintime},#{endtime},now(),#{classid},#{adduser},#{pic},#{picsmall},#{isscreen},#{isparent},
 	 #{video},#{videoimg},#{voice},#{volicelen},#{videosmallimg})
 </insert>

</mapper>   
