<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inch.rest.mapper.VideoMapper" > 

<resultMap id="videoinfo" type="VideoModel">
      <result property="guid" column="guid"/>
        <result property="title" column="title"/>
        <result property="videourl" column="videourl"/>
        <result property="addtime" column="addtime"/>
        <result property="addusername" column="addusername"/>
        <result property="classid" column="classid"/>
        <collection property="classList" column="{nclassid=classid}" javaType="ArrayList" select="getClassList" ></collection>
</resultMap>

<select id="getClassList" resultType="SchoolModel" >
		select CONCAT(IFNULL(s2.name,''),s1.name) name from school s1 left JOIN school s2 on s1.pid=s2.id
		where find_in_set(s1.id,#{nclassid})  
</select>

<select id="queryByList" resultMap="videoinfo"  parameterType="Object">
	select g.*,u.name addusername  from video g left join sys_user u on g.adduser=u.id
	where 1=1
	<if test="isadmin!=1">
		and EXISTS (select guid from lcd_rel where guid=g.guid and  find_in_set(classid,#{classid}))
	</if>
	
	order by g.addtime desc
</select>

<delete id="deleteBactch" >  
    delete from video where guid in 
     <foreach collection="array" index="index" item="item" open="(" separator="," close=")">    
            #{item}
    </foreach>
</delete>
 
<select id="queryById"  resultType="VideoModel" parameterType="Object">
	select * from video where guid = #{guid}
</select>

 <update id="update" parameterType="Object" >
  	update video set title=#{title},videourl=#{videourl},adduser=#{adduser},classid=#{classid},
  	edittime=now(),begintime=#{begintime},endtime=#{endtime},unshared=#{unshared},sort=#{sort} where guid=#{guid}
 </update>
 
 
 <insert id="add" parameterType="Object" >
 	 insert into video (guid,title,videourl,classid,adduser,begintime,endtime,unshared,sort)
 	 values (#{guid},#{title},#{videourl},#{classid},#{adduser},#{begintime},#{endtime},#{unshared},#{sort})
 </insert>

</mapper>   
