<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inch.mapper.SysMenuMapper" > 

<!-- 获取菜单（无线层级）左侧菜单树 -->
<select id="getMenuTree" resultType="SysMenu" parameterType="Object">
	select * from sys_menu m where parentId=#{parentId} and deleted= 0 
	
	<if test="isadmin!=1">
		AND EXISTS (
			 SELECT * FROM sys_role_rel r 
			 WHERE r.objId = m.id AND r.relType = 0
			 AND EXISTS ( 
				SELECT 1 FROM sys_role_rel u WHERE u.roleId = r.roleId  AND u.relType = 1 AND u.objId = #{userid}
			 )
		)  
	</if>
	
	order by rank
</select>

<!-- 获取子菜单数量 -->
<select id="getChildCnt" resultType="int" parameterType="Object">
	select count(1) from sys_menu where parentId=#{id} and deleted= 0
</select>

<!-- 查询所有有效系统菜单列表（角色设置 菜单和按钮权限使用） -->
<select id="queryByAll" resultType="SysMenu"  parameterType="Object">
	select  id,name,url,parentId,actions,'true' open ,'menu' type from sys_menu where deleted= 0 
	union ALL
	select CONCAT(id,'_btn') id,btnname name,'' url,menuid parentId,actionurls actions,'true' open,'btn' type from sys_menu_btn 
</select>

<!-- 根据角色Id获取菜单 -->
<select id="getMenuByRoleId"  resultMap="BaseResultMap" parameterType="Object">
	SELECT id,NAME,url,parentId,actions FROM sys_menu m WHERE deleted= 0 
	AND EXISTS (
		 SELECT * FROM sys_role_rel r WHERE r.objId = m.id AND relType = 0
		 AND r.roleId = #{roleId}
	)
</select>


<!-- 查询系统菜单列表 -->
<select id="queryByList" resultType="SysMenu"  parameterType="Object">
	select m2.name pname,m.* ,(SELECT COUNT(*) FROM sys_menu c WHERE c.parentId = m.id) AS subCount 
	from sys_menu m 
	inner join sys_menu m2 on m.parentId=m2.id
	where  m.deleted =  0
	
	<if test="parentId != null" >
	    and m.parentId =  #{parentId}
	</if>
	<if test="parentId == null" >
	    and m2.parentId =0
	</if>
	
	
    order by m.rank desc 
</select>




<!-- 获取二级菜单 -->
<select id="getRootMenu"  resultType="SysMenu" parameterType="Object">
	select id,name,url,parentId,actions,icon from sys_menu where  parentId is null and deleted=0 
	<if test="menuId != null" >
     and  id != #{menuId}
    </if>
    
    
   order by rank
    
</select>

<!-- 获取子菜单-->
<select id="getChildMenu"  resultType="SysMenu" parameterType="Object">
	select id,name,url,parentId,actions,icon from sys_menu where  parentId is not null  and deleted= 0
	
	order by rank
</select>


<!-- 根据用户id查询父菜单菜单   relType = 0,菜单 1，用户 2，按钮 -->
<select id="getRootMenuByUser"  resultType="SysMenu" parameterType="Object">
	SELECT DISTINCT id,NAME,url,parentId,actions,icon FROM sys_menu m 
	WHERE deleted= 0 AND LENGTH(url)>0
	AND EXISTS (
		 SELECT * FROM sys_role_rel r 
		 WHERE r.objId = m.id AND r.relType = 0
		 AND EXISTS ( 
			SELECT 1 FROM sys_role_rel u WHERE u.roleId = r.roleId  AND u.relType = 1 AND u.objId = #{userId}
		 )
	)  
	
	order by rank
</select>


<!-- 根据用户id查询子菜单菜单 -->
<select id="getChildMenuByUser"  resultType="SysMenu" parameterType="Object">
	SELECT DISTINCT id,NAME,url,parentId,actions FROM sys_menu m 
	WHERE deleted= 0 AND parentId IS NOT NULL
	AND EXISTS (
		 SELECT * FROM sys_role_rel r 
		 WHERE r.objId = m.id AND r.relType = 0
		 AND EXISTS ( 
			SELECT 1 FROM sys_role_rel u WHERE u.roleId = r.roleId  AND u.relType = 1 AND u.objId = #{userId}
		 )
	) 
	
	order by rank
</select>


<!-- 插入记录 -->
<insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
  insert into sys_menu(name,url,parentId,deleted,createTime,rank,actions)
  values(#{name},#{url},#{parentId},#{deleted},now(),#{rank},#{actions})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update sys_menu set name=#{name},url=#{url},parentId=#{parentId},deleted=#{deleted},updateTime = now(),rank=#{rank},actions=#{actions} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update sys_menu set 
	<trim  suffixOverrides="," >
	<if test="id != null  ">
		id=#{id},
	</if>
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="url != null  and url != '' ">
		url=#{url},
	</if>
	<if test="parentId != null  ">
		parentId=#{parentId},
	</if>
	<if test="deleted != null  ">
		deleted=#{deleted},
	</if>
	<if test="createTime != null  ">
		createTime=#{createTime},
	</if>
	<if test="updateTime != null  ">
		updateTime=#{updateTime},
	</if>
	<if test="rank != null  ">
		rank=#{rank},
	</if>
	<if test="actions != null  and actions != '' ">
		actions=#{actions}
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<update id="delete" parameterType="Object">
	update sys_menu set deleted = 1 where id = #{id}
</update>

<!-- 根据id查询 系统菜单 -->
<select id="queryById"  resultType="SysMenu" parameterType="Object">
	select * from sys_menu where id = #{id}
</select>


<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1   and deleted =  0
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 <if test="name != null and name != ''" >
	 	and name like CONCAT('%',#{name},'%') 
	</if>
	<if test="url != null and url != ''" >
	    and url =  #{url}
	</if>
	
	<if test="parentId != null" >
	    and parentId =  #{parentId}
	</if>
	<!-- 如果parentId为空,这查询顶级菜单 -->
	<if test="parentId == null" >
	    and parentId is null
	</if>
	
	<if test="createTime != null" >
	    and createTime =  #{createTime}
	</if>
	<if test="rank != null" >
	    and rank =  #{rank}
	</if>
	<if test="actions != null and actions != ''" >
	    and actions =  #{actions}
	</if>
</trim>
</sql>
 	





































<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.inch.bean.SysMenu" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="url" property="url"/>
	<result column="parentId" property="parentId"/>
	<result column="deleted" property="deleted"/>
	<result column="createTime" property="createTime"/>
	<result column="updateTime" property="updateTime"/>
	<result column="rank" property="rank"/>
	<result column="actions" property="actions"/>
</resultMap>

<!-- 扩展字段 -->
<resultMap id="ExtResultMap" extends="BaseResultMap" type="com.inch.bean.SysMenu" >
	<result column="subCount" property="subCount"/>
</resultMap>


<!-- sys_menu table all fields -->
<sql id="Base_Column_List" >
	 id,name,url,parentId,deleted,createTime,updateTime,rank,actions
</sql>
   

 


<!-- 系统菜单 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from sys_menu 
	<include refid="Example_Where_Clause"/>
</select>
 


	











</mapper>   
